AirSoftimage/AirIceNode/GNUmakefile
AirSoftimage/AirWeightsComputation/UpgradeLog.XML
AirSoftimage/AirWeightsComputation/UpgradeLog.htm
AirSoftimage/AirWeightsComputation/UpgradeLog2.XML
AirSoftimage/AirWeightsComputation/UpgradeLog2.htm
AirSoftimage/AirWeightsComputation/UpgradeLog3.XML
AirSoftimage/AirWeightsComputation/UpgradeLog3.htm
AirSoftimage/AirWeightsComputation/UpgradeLog4.XML
AirSoftimage/AirWeightsComputation/UpgradeLog4.htm
AirSoftimage/AirWeightsComputation/WeightComputation.opensdf
AirSoftimage/AirWeightsComputation/WeightComputation.sdf
AirSoftimage/AirWeightsComputation/WeightComputation.v11.suo
AirSoftimage/AirWeightsComputation/WeightComputation.vcxproj
AirSoftimage/AirWeightsComputation/WeightComputation.vcxproj.user
AirSoftimage/AirWeightsComputation/_UpgradeReport_Files/UpgradeReport.css
AirSoftimage/AirWeightsComputation/_UpgradeReport_Files/UpgradeReport.xslt
AirSoftimage/AirWeightsComputation/_UpgradeReport_Files/UpgradeReport_Error.png
AirSoftimage/AirWeightsComputation/_UpgradeReport_Files/UpgradeReport_Information.png
AirSoftimage/AirWeightsComputation/_UpgradeReport_Files/UpgradeReport_Success.png
AirSoftimage/AirWeightsComputation/_UpgradeReport_Files/UpgradeReport_Warning.png
AirSoftimage/AirWeightsComputation/bin/nt-x86-32/Debug/WeightComputation.lastbuildstate
AirSoftimage/AirWeightsComputation/bin/nt-x86-32/Debug/WeightComputation.log
AirSoftimage/AirWeightsComputation/bin/nt-x86-32/Debug/WeightComputation.unsuccessfulbuild
AirSoftimage/AirWeightsComputation/bin/nt-x86-32/Debug/cl.command.1.tlog
AirSoftimage/AirWeightsComputation/bin/nt-x86-32/Debug/cl.read.1.tlog
AirSoftimage/AirWeightsComputation/bin/nt-x86-32/Debug/cl.write.1.tlog
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/AirICENode.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/Cage.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/DataStructures.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/Deformer.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/Geometry.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/GeometryRender.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/GreenCoords.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/HarmonicCoords.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/InteriorDistancesData.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/MeanValueCoords.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/Modelo.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/Node.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/Object.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/Scene.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/SurfaceData.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/WeightComputation.lastbuildstate
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/WeightComputation.log
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/WeightComputation.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/WeightComputation.unsuccessfulbuild
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/cl.command.1.tlog
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/cl.read.1.tlog
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/cl.write.1.tlog
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/grid3D.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/gridRender.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/shadingNode.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/skeleton.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/skeletonRender.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/util.obj
AirSoftimage/AirWeightsComputation/bin/nt-x86-64/Debug/vc110.pdb
AirSoftimage/AirWeightsComputation/bin/
AirSoftimage/
